/*------------------------------------*\
    #PHOTO
\*------------------------------------*/

// How big is the large version of the image?
$image-width:   2014px;
$image-height:  1343px;

/**
 * 1. Faux-fluid-height image in the correct ratio.
 */
.photo {
    width: 100%;
    height: 0;
    padding-top: (($image-height / $image-width) * 100%); /* [1] */
    background-image: url(/assets/photo-naomi.jpg);
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover;

    @include media-query(lap-and-up) {
        background-image: url(/assets/photo-naomi-medium.jpg);
    }

    @include media-query(desk) {
        background-image: url(/assets/photo-naomi-large.jpg);
    }

}
